@import '@/style/variables.scss';

// Reset
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// COMMON
body {
    // font-family: 'Fredoka One', cursive;
    font-family: 'Roboto', sans-serif;
    min-width: 992px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    display: block;
}

.container {
    width: 95%;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn {
    font-family: $titlesFont;
    padding: 17px 30px;
    display: inline-block;
    border: none;
    border-radius: 50px;
    font-size: 12px;
}

.btn-yellow {
    color: $secondColor;
    background-color: $mainButtonColor;
}

.btn-white {
    background-color: $secondColor;
    color: $mainColor;
}

.title {
    font-family: $titlesFont;
}

