// Font
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto:wght@100;300;400;500;700;900&display=swap');


// Main Colors
$mainColor: #e56768;
$secondColor: #ffffff;

// Heighlight
$heighlightColor: #db2a2c;

// Main Button
$mainButtonColor: #e9d758;

// Second Waves bg
$whiteWaveColor: #fcf6f6;

// Details bg color
$detailBgColor: #f7f8fa;

// Font titles
$titlesFont: 'Fredoka One', cursive;
