// Main Colors
$mainColor: #e56768;
$secondColor: #ffffff;

// Heighlight
$heighlightColor: #db2a2c;

// Background Jumbotron
$bgJumboColor: #d4696d;

// Main Button
$mainButtonColor: #e9d758;

// Second Waves bg
$whiteWaveColor: #fcf6f6;

// Details bg color
$detailBgColor: #f7f8fa;